body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}

.container {
  position: fixed;
}

/* Bottom right text */
.text-block {
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  bottom: 20px;
  top: 300px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(162, 5, 171);
  padding-left: 660px;
  padding-right: 660px;
}


      
