body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}

.container {
  position: fixed;
}

/* Bottom right text */
.text-block {
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(162, 5, 171);
}


      
